{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ COMPLEX_NAME }}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,600;12..96,800&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/rms.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{% static 'js/common.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
